<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="university">
      <h2 data-cy="universityDetailsHeading"><span>University</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ university.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ university.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ university.code }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <div *ngIf="university.address">
            <a [routerLink]="['/address', university.address?.id, 'view']">{{ university.address?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/university', university.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
