<div>
  <h2 id="page-heading" data-cy="SubjectPaperHeading">
    <span>Subject Papers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-subject-paper"
        [routerLink]="['/subject-paper/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Subject Paper </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subjectPapers?.length === 0">
    <span>No subjectPapers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subjectPapers && subjectPapers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fullMark"><span>Full Mark</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passMark"><span>Pass Mark</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="session.id"><span>Session</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subjectPaper of subjectPapers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/subject-paper', subjectPaper.id, 'view']">{{ subjectPaper.id }}</a>
          </td>
          <td>{{ subjectPaper.name }}</td>
          <td>{{ subjectPaper.code }}</td>
          <td>{{ subjectPaper.type }}</td>
          <td>{{ subjectPaper.fullMark }}</td>
          <td>{{ subjectPaper.passMark }}</td>
          <td>
            <div *ngIf="subjectPaper.session">
              <a [routerLink]="['/session', subjectPaper.session?.id, 'view']">{{ subjectPaper.session?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/subject-paper', subjectPaper.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/subject-paper', subjectPaper.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(subjectPaper)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="subjectPapers && subjectPapers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
