<div>
  <h2 id="page-heading" data-cy="ExamHeading">
    <span>Exams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exam"
        [routerLink]="['/exam/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Exam </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exams?.length === 0">
    <span>No exams found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exams && exams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startTime"><span>Start Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="endTime"><span>End Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="correspondingAddress.id"><span>Corresponding Address</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="permanentAddress.id"><span>Permanent Address</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="session.id"><span>Session</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of exams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exam', exam.id, 'view']">{{ exam.id }}</a>
          </td>
          <td>{{ exam.name }}</td>
          <td>{{ exam.type }}</td>
          <td>{{ exam.code }}</td>
          <td>{{ exam.date | formatMediumDatetime }}</td>
          <td>{{ exam.startTime | formatMediumDate }}</td>
          <td>{{ exam.endTime | formatMediumDate }}</td>
          <td>
            <div *ngIf="exam.correspondingAddress">
              <a [routerLink]="['/address', exam.correspondingAddress?.id, 'view']">{{ exam.correspondingAddress?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exam.permanentAddress">
              <a [routerLink]="['/address', exam.permanentAddress?.id, 'view']">{{ exam.permanentAddress?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exam.session">
              <a [routerLink]="['/session', exam.session?.id, 'view']">{{ exam.session?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/exam', exam.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/exam', exam.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(exam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="exams && exams.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
